.TradingTeaser {
    width: 100%;
    height: 300px;
    background-image: url('./dashboard.png');
    background-size: cover;
    transition: all 500ms ease
}

.TradingTeaser--greyscale {
    filter: grayscale(100%);
}