body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

.App {
  max-width: 780px;
}

.App__Content {
  padding: 0 5px;
}

.App__CallToAction {
  float: right;
}